

$color-header: #2F5249;
$color-main: #97B067;
$color-footer: #437057;
$color-card: #B1AB86;

$primary-color: #007bff;
$secondary-color: #6c757d;
$font-family-base: 'Roboto', sans-serif;
$font-size-base: 1rem;